<template>

    <div id="musicframe">

        <div id="border">

            <img v-bind:src="currentImage" width="100%" height="100%"/>

            <div id="controls" @click="audioFunction">

                <audio ref="audio" id="audio">

                    <source v-bind:src="currentSong">

                    Your browser does not support the audio element.

                </audio>
                <button>Play</button>
                <button>Pause</button>

            </div>

        </div>
    </div>

</template>

<script>
    import { bus } from '../main';
    export default {
        name: 'music-frame',
        props : {

            currentSong: {
                type : String
            },
            currentImage: {
                type : String
            }
        },
        data () {
            return {
            }
        },
        methods: {
            audioFunction: function(e){
                let value = e.target.innerText;
                switch(value) {
                    case "Play" : {
                        console.log(this.$refs.audio.play());
                        break;
                    }
                    case "Pause" : {
                        this.$refs.audio.pause();
                        break;
                    }
                }
            }
        },
        created(){
            bus.$on('reload', () => {
                this.$refs.audio.load();
            this.$refs.audio.play();
        })
        }
    }
</script>