// Colors

$body-bg-color: #000;
$body-color: #ADADAD;
$main-title-color: #FFF;
$subtitle-color: #ADADAD;

$audio-bg-color: #ADADAD;

$link-color: #ADADAD;
$link-hover: #EDEDED;

$content-link-color: #138496;
$active-link-color: #138496;

// Typography
$font-family-main-title: "Raleway", sans-serif;
$font-family-body:  "Dosis", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$weight-normal: 500;
$size-normal: 16px;
$size-small: 12px;