// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600|Dosis:400,500,700,800|Fredericka+the+Great");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.eot?12080513');
  src: url('/fonts/fontello.eot?12080513#iefix') format('embedded-opentype'),
  url('/fonts/fontello.woff2?12080513') format('woff2'),
  url('/fonts/fontello.woff?12080513') format('woff'),
  url('/fonts/fontello.ttf?12080513') format('truetype'),
  url('/fonts/fontello.svg?12080513#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Animations
@keyframes fadein {
  from {
    color: $body-bg-color;
  }
  to {
    color: $body-color;
  }
}

@keyframes title-resize {
  from {
    font-size: 84px;
  }
  to {
    font-size: 26px;
  }
}

// Animations
@keyframes imageFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Animations
@keyframes imageCross {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html, body {
  background-color: $body-bg-color;
  color: $body-color;
  font-family: $font-family-body;
  font-weight: $weight-normal;
  font-size: $size-normal;
  margin: 0;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  div.content-text {
    padding: 0;
    animation-name: fadein;
    animation-duration: 4s;

    a {
      color: $content-link-color;
    }

    pre {
      color: #00AC0A;
      font-family: monospace;

      white-space: normal;
      word-wrap: break-word;
      @include media-breakpoint-up(lg) {
        white-space: nowrap;
        word-wrap: normal;
      }
    }

    em {
      color: #00AC0A;
      font-style: normal;
    }

    table {
      border: solid grey 1px;
      tr {
        border: solid grey 1px;
        td {
          padding: 4px;
          border: solid grey 1px;
        }
      }
    }
  }
}

ul{
  &.dir-nav{
    display: inline-block;
    li {
      float: left;

      a{
        &.nav-link{
          display: inline-block;
        }
      }
    }
  }
}

.navbar-light, .subnavbar {

  border: solid grey 1px;
  @include media-breakpoint-up(md) {
    border: none;
  }

  .navbar-brand {
    color: $link-color;
    &:hover {
      color: $link-hover;
      text-decoration: underline;
    }
    &.active {
      color: $active-link-color;
      text-decoration: underline;
    }
  }

  button {
    padding: 0;
    background-color: $body-bg-color;
    outline: none;

    .navbar-toggler-icon {
      display: inline-block;
      vertical-align: middle;
      background: none;
      width: initial;
      height: initial;
      padding: 0;
      outline: none;
      &:before {
        font-family: fontello;
        font-size: 40px;
        content: "\E803";
        color: white;
      }
    }
  }

  .navbar-nav {
    &.user-menu {
      justify-content: flex-end;
      margin-left: auto;
    }

    .nav-link {
      padding-left: 1em;
      color: $link-color;
      &:hover {
        color: $link-hover;
        text-decoration: underline;
      }
    }
    .current {
      padding-left: 1em;
      color: $active-link-color;
      &:before {
        content: "> ";
      }
    }

    .mobilesubnavbar {
      display: block;
      margin-top: 0;
      @include media-breakpoint-up(md) {
        margin-top: 0;
        display: none;
      }
    }
  }
}

.subnavbar {
  display: none;
  @include media-breakpoint-up(md) {
    margin-top: 34px;
    display: block;
  }
}

.navbar-laravel {
  background-color: $body-bg-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  color: $body-color;
  border-bottom: solid 2px $subtitle-color;
  border-top: solid 1px $subtitle-color;
  margin-bottom: 1.5em;

  .links > a {
    color: $body-color;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
}

body {
  .title {
    font-size: 26px;
    font-weight: bold;
    color: $main-title-color;
    font-family: $font-family-main-title;
    text-align: left;

    @include media-breakpoint-up(md) {
      padding: 14px 0;
    }

    .payoff {
      color: $subtitle-color;
      font-family: $font-family-main-title;
      font-size: $size-small;
      padding: 0;
      margin: 0;
      display: inline-block;
      float: right;
      padding-top: 12px;

      .content {
        background-repeat: no-repeat;
        display: inline;
        padding-left: 3em;
        &:before {
          font-family: fontello;
          content: '\E806';
          margin-right: 4px;
        }
      }
    }
  }

  &.welcome {
    .title {
      font-size: 74px;
      text-align: center;

      @include media-breakpoint-up(md) {
        font-size: 78px;
      }

      .payoff {
        display: block;
        float: none;
        padding-top: 0;
        text-align: center;
      }
    }
  }

  .main-image {
    animation-name: imageFade;
    animation-duration: 4s;
    text-align: center;
    margin: 1em 0;

    @include media-breakpoint-up(md) {
      margin: 0;
    }

    img {
      max-width: 100%;
      max-height: 494px;
    }
  }
}

.full-width {
  display: block;
  width: 100%;
  padding: $size-normal;
  text-align: center;
  font-family: $font-family-body;
}

.player {
  float: left;
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 50%;
  }
  audio {
    width: 100%;
    background-color: $audio-bg-color;
  }

  ul {
    &.playlist {
      width: 100%;
      padding: 0;
      margin-top: -6px;
      background-color: $audio-bg-color;
      padding: 1em;

      li {
        list-style: none;

        a {
          &:before {
            font-family: fontello;
            content: '\E80A';
            margin-right: 10px;
            color: $active-link-color;
          }
        }
        &.active {
          a {
            &:before {
              color: black;
            }
          }
        }
      }
    }
  }
}

.albumart {
  float: left;
  width: 100%;

  @include media-breakpoint-up(md) {
    width: 50%;
  }

  img {
    float: left;
    width: 100%;

    @include media-breakpoint-up(md) {
      width: 98%;
      float: right;
    }
  }
}

.albumtext {
  float: left;
  width: 100%;
}

.gallery {
  ul {
    &.thumbslist {
      width: 100%;

      li {
        float: left;
        width: 34px;
        height: 34px;
        text-align: center;
        list-style: none;

        img {
          animation-name: imageFade;
          animation-duration: 2s;
          opacity: 0.6;
          &.active, &:hover {
            transition: opacity 2s;
            opacity: 1;
            animation-name: imageCross;
            animation-duration: 1s;
          }
        }
      }
    }
  }
  .main-image {
    img {
      max-width: 100%;
      max-height: 600px;
    }
  }
}